<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- bean definitions here -->

    <!-- 要增强的对象 -->
    <bean id="productDao" class="com.example.demoB.ProductDaoImpl"></bean>

    <!-- 将切面类交给Spring管理 -->
    <bean id="myAspect" class="com.example.demoB.MyAspectXml"></bean>

    <!-- 通过AOP的配置完成对目标类产生代理 -->
    <aop:config>
        <!-- 表达式配置哪些类的哪些方法需要增强 -->
        <aop:pointcut expression="execution(* com.example.demoB.ProductDaoImpl.save(..))" id="pointcut_save"/>
        <aop:pointcut expression="execution(* com.example.demoB.ProductDaoImpl.delete(..))"
                      id="pointcut_delete"/>
        <aop:pointcut expression="execution(* com.example.demoB.ProductDaoImpl.update(..))"
                      id="pointcut_update"/>
        <aop:pointcut expression="execution(* com.example.demoB.ProductDaoImpl.find(..))" id="pointcut_find"/>
        <!--配置切面 -->
        <aop:aspect ref="myAspect">
            <aop:before method="checkPri" pointcut-ref="pointcut_save"/>

            <aop:after-returning method="writeLog" pointcut-ref="pointcut_delete" returning="result"/>
            <!-- 之前前后通知 -->
            <aop:around method="arround" pointcut-ref="pointcut_update"/>
            <!-- 异常后执行 -->
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut_find" throwing="errorMessage"/>
            <aop:after method="after" pointcut-ref="pointcut_find"/>
        </aop:aspect>
    </aop:config>
</beans>
