<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="productService" class="com.example.demo8.ProductService">
        <property name="productDao" ref="productDao"></property>
        <property name="orderDao" ref="orderDao"></property>
    </bean>

    <!-- 在没有扫描的情况下,使用属性注入的注解:@Resource, @AutoWired,@Qulifier, @Value -->
    <context:annotation-config/>
    <bean id="orderService" class="com.example.demo8.OrderService">
    </bean>

    <bean id="productDao" class="com.example.demo8.ProductDao"></bean>
    <bean id="orderDao" class="com.example.demo8.OrderDao"></bean>
</beans>
